QSCN_DATA_DIR=/data
QSCN_REDIS_URL=redis://redis:6379/0
QSCN_MAX_UPLOAD_BYTES=2147483648
QSCN_MAX_EXTRACTED_BYTES=10737418240
QSCN_MAX_GENOMES=100
QSCN_MAX_ARCHIVE_FILES=1000
QSCN_MAX_COMPRESSION_RATIO=100
QSCN_MAX_TOTAL_SEQUENCES=5000000
QSCN_MAX_TOTAL_RESIDUES=10000000000
QSCN_MAX_RUN_OUTPUT_BYTES=21474836480
QSCN_MIN_FREE_BYTES=5368709120
QSCN_WORKER_MEMORY_BYTES=8589934592
QSCN_WORKER_PROCESSES=64
QSCN_WORKER_TTL=86400
